* {
  margin: 0 auto;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

@media (min-width: 1000px) {
  main {
    width: 100%;
    display: flex;
  }
}

h1 {
  color: #ed6436;
  padding: 10px;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-size: 15px;
}

section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1000px) {
  .images {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
}

section p {
  font-size: 4vw;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  section,
  p,
  button {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

button {
  align-items: center;
  border-radius: 0 50px 50px 50px;
  background-color: #ed6436;
  font-family: Nunito, sans-serif;
  font-size: 0.8em;
  border: 0;
  padding: 10px;
  width: 100px;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  button:hover {
    background-color: #fff;
    color: #ed6436;
    border: 2px solid #ed6436;
  }
}

img {
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}

@media (min-width: 1000px) {
  img {
    object-fit: cover;
    border-radius: 50px;
    width: 450px;
    height: 600px;
  }
}
